<launch>

    <node pkg="first_project" type="velocity_class" name="my_velocity_sub" output="screen" />
    <node pkg="first_project" type="odometry_class" name="my_odometry_sub" output="screen" />
    <node pkg="first_project" type = "tf2_broad" name = "tf_broad"/>
    <node pkg="first_project" type = "control_class" name = "my_control_sub" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find first_project)/test.rviz" />
    <param name="init_x" value="0.0" />
    <param name="init_y" value="0.0" />
    <param name="init_theta" value="0.0" />

</launch>
